<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Product Details</h5>
</div>
<div class="modal-body">
  <div *ngIf="product" class="card h-100 card-size">
    <img class="card-img-top" src="{{product.coverUrl}}" alt="">
    <div class="card-body">
      <h5 class="card-title">
        <p class="card-name">{{product.name}}</p>
      </h5>
      <h5>{{product.price | currency}} </h5>
      <h5>Category: {{product.type }}</h5>
      <h5>{{product.customerRating}} stars</h5>
      <div>{{product.description}}</div>
      <h4 class="mt-3">Reviews</h4>
      <div class="card mt-3" *ngFor="let review of product.reviews">
        <h5 class="card-title mx-3 mt-3">{{review.customerName}}</h5>
        <div class="card-body">
          {{review.text}}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <h5 class="in-cart" *ngIf="isInCart">In Cart</h5>
      <button *ngIf="!isInCart" (click)="select()" type="button" class="btn btn-success btn-block">Add to cart</button>
    </div>
  </div>
</div>
